[Desktop Entry]
Encoding=UTF-8
Name=Commander Pi
Comment=System info and overclocking
Exec=lxterminal -e "/home/pi/Commander_Pi/src/start.sh"
Icon=/home/pi/Commander_Pi/src/build/logo.png
Categories=Application;
Version=1.0
Type=Application
Terminal=true
